.parent{
  flex: 1;
  padding: 10px 20px;
  background-color: #f2f2f2;
  height: calc(100vh - 65px);
overflow-y: auto;
}

/* Scrollbar width */
.parent::-webkit-scrollbar {
  width: 8px; /* Change this value for thickness */
}

/* Track (background) */
.parent::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change track background color */
}

/* Thumb (the draggable part) */
.parent::-webkit-scrollbar-thumb {
  background: #002077; /* Change thumb color */
  border-radius: 10px; /* Optional: Rounded corners */
}

/* Thumb hover effect */
.parent::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change thumb color when hovered */
}