.container {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
   
}

/* Scrollbar width */
.container::-webkit-scrollbar {
    width: 8px;
    /* Change this value for thickness */
}

/* Track (background) */
.container::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Change track background color */
}

/* Thumb (the draggable part) */
.container::-webkit-scrollbar-thumb {
    background: #002077;
    /* Change thumb color */
    border-radius: 10px;
    /* Optional: Rounded corners */
}

/* Thumb hover effect */
.container::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Change thumb color when hovered */
}

.form {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    padding: 20px 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #d1d1d1;

}

.form h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.formGroup>label {
    font-weight: 700;
}

.formGroup>input {
    height: 45px;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 2px solid #d1d1d1;
}

.formGroup>select {
    height: 45px;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 2px solid #d1d1d1;
}

.formGroup>textarea {
    height: 75px;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 2px solid #d1d1d1;
}

.formGroup>button {
    font-size: 20px;
    max-width: fit-content;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-weight: 700;
    border: 1px solid white;
    transition: all .3s ease-in-out;
}

.formGroup>button:hover {
    filter: invert();
    transform: scale(1.05);
    cursor: pointer;

}